In [1]:
import pandas as pd

In [2]:
file='../100-DL/100-Raw-Zone/0100-External/900-Other/000019-Data-Source-T/Test_Data.csv'

In [3]:
df = pd.read_csv(file, sep=',',header=0)

In [4]:
df.shape

(148, 3)

In [5]:
df2=df.copy(deep=True)

In [6]:
df2['name2']=df2['name'].astype('category').cat.codes
df2['media2']=df2['media'].astype('category').cat.codes

In [7]:
df2

      id       name   media  name2  media2
0      1       Liam  online    100       0
1      2       Noah   print    120       1
2      3    William  online    144       0
3      4      James  online     71       0
4      5     Oliver   print    122       1
5      6   Benjamin  online     14       0
6      7     Elijah   print     45       1
7      8      Lucas  online    104       0
8      9      Mason  online    108       0
9     10      Logan   print    102       1
10    11  Alexander  online      5       0
11    12      Ethan   print     47       1
12    13      Jacob  online     70       0
13    14    Michael  online    115       0
14    15     Daniel  online     36       0
15    16      Henry   print     60       1
16    17    Jackson  online     69       0
17    18  Sebastian  online    134       0
18    19      Aiden   print      4       1
19    20    Matthew  online    110       0
20    21     Samuel   print    131       1
21    22      David  online     37       0
22    23     Joseph  online     85       0
23    24     Carter   print     26       1
24    25       Owen  online    123       0
25    26      Wyatt   print    145       1
26    27       John  online     80       0
27    28       Jack  online     68       0
28    29       Luke  online    106       0
29    30     Jayden   print     77       1
..   ...        ...     ...    ...     ...
118  119      Tyler  online    139       0
119  120    Bennett  online     15       0
120  121    Bentley  online     16       0
121  122      Ryker  online    130       0
122  123    Tristan  online    138       0
123  124    Brandon  online     17       0
124  125      Kevin  online     94       0
125  126       Luis  online    105       0
126  127     George  online     55       0
127  128     Ashton  online     10       0
128  129      Rowan  online    127       0
129  130    Braxton  online     18       0
130  131      Ryder  online    129       0
131  132       Gael  online     53       0
132  133       Ivan  online     66       0
133  134      Diego  online     39       0
134  135    Maxwell  online    113       0
135  136        Max  online    112       0
136  137     Carlos  online     24       0
137  138     Kaiden  online     92       0
138  139       Juan  online     88       0
139  140     Maddox  online    107       0
140  141     Justin  online     90       0
141  142     Waylon  online    141       0
142  143     Calvin  online     22       0
143  144   Giovanni  online     56       0
144  145      Jonah  online     81       0
145  146       Abel  online      1       0
146  147      Jayce  online     76       0
147  148      Jesus  online     79       0

[148 rows x 5 columns]

In [8]:
df2.corr()

              id     name2   media2
id      1.000000  0.004653 -0.26068
name2   0.004653  1.000000 -0.03490
media2 -0.260680 -0.034900  1.00000